* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --sidebar-gray: rgba(164, 166, 179, 1);
  --grayscale-divider: rgba(223, 224, 235, 1);
  --grayscale-black: rgba(37, 39, 51, 1);
  --grayscale-gray: rgba(159, 162, 180, 1);
  --grayscale-gray-light: rgba(197, 199, 205, 1);
  --Main-Blue: rgba(55, 81, 255, 1);
}
@font-face {
  font-family: Mulish;
  src: url(../fonts/Mulish-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}

body {
  /* height: 100; */
  display: flex;
  background: #ffffff;
  position: relative;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.menu-closed aside {
  width: 80px;
}
.menu-closed .prg-1 {
  opacity: 0;
  display: none;
}
.menu-closed .heading-1 {
  opacity: 0;
  display: none;
}
.menu-closed #light-dark {
  margin-left: 25px;
}
.menu-closed .footer-card-2 {
  margin-left: 29px;
}
.menu-closed main {
  margin-left: 80px;
}
/* ASIDE SECTON /////////////////////////////////////// */

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #363740;
  width: 255px;
  transition: 0.5s;
  color: #fff;
  position: fixed;
  height: 100vh;
  transition: all 0.4s ease;
}
.logo {
  display: flex;
  align-items: center;
  gap: 18px;
  margin: 36px 0 53px 22px;
}
.aside-card-1 {
  background: #3e4049;
  display: flex;
  align-items: center;
}
.logo-img {
  margin: 0 26px;
}
.aside-card {
  display: flex;
  gap: 27px;
  align-items: center;
  padding: 18px 31px;
}
.footer-card-2 {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-left: 43px;
  transition: all 0.4s linear;
}
.footer-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
  width: 200px;
}
.heading-1 {
  color: var(--sidebar-gray, #a4a6b3);
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  opacity: 0.7;
}
.prg-1 {
  color: var(--sidebar-gray, #a4a6b3);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
.aside-card img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.aside-card-1 .logo-img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

/* MENU BTN ///////////////////// */
main {
  background: #fff;
  width: 100%;
  padding: 30px 30px 50px;
  margin-left: 255px;
  transition: margin-left 0.4s ease;
  height: 100%;
  position: relative;
  transition: background 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.menu-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.account {
  display: flex;
  align-items: center;
  gap: 10px;
}
.account img {
  stroke-width: 1.5px;
  stroke: var(--grayscale-divider, #dfe0eb);
  border-radius: 1.5px solid #dfe0eb;
  border-radius: 50%;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prg-2 {
  color: var(--grayscale-black, #252733);
  text-align: right;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
}
/* OVERVIEW SECTION */
.heading-2 {
  color: #000;
  font-family: Lato;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dots {
  display: flex;
  align-items: center;
  gap: 32px;
}
.dots img {
  cursor: pointer;
}
.dots button {
  padding: 8.25px 18.55px 10.25px;
  border: none;
  border-radius: 5px;
  background: #10cd45;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 71.094px;
  height: 35.501px;
  flex-shrink: 0;
  cursor: pointer;
}
.panel-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 53px 0 64px;
}
/* TABLE ///////////////////////////////// */
table {
  width: 100%;
}
thead {
  width: 100%;
}
th {
  width: 22%;
  text-align: start;
  color: #878787;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
th:nth-child(5) {
  width: 12%;
}
tr {
  display: flex;
  padding: 15.38px 19.45px;
}
tbody {
  width: 100%;
}
td {
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: center;
  width: 22%;
  color: #414141;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
td:nth-child(5) {
  width: 12%;
}
tbody td {
  color: #414141;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
tbody td:nth-child(3) {
  color: #00ca39;
}
tbody td:nth-child(4) {
  color: #e44067;
}

tbody tr:nth-child(odd) {
  background: #f8fafb;
}
tbody tr {
  transition: all 0.4s ease;
}
tbody tr:hover {
  background: #e2e3ef;
  cursor: pointer;
}
/* DARK MODE //////////////////////////////// */
#light-dark {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: 40px;
  cursor: pointer;
  transition: all 0.4s linear;
}
.dark {
  background: #303740;
  transition: all 0.4s linear;
}

.dark * {
  color: white;
}
.dark main {
  background: #303740;
}
.dark tbody tr:nth-child(odd) {
  background: #3a424d;
}
.dark aside {
  background: #252b32;
}
.dark .menu-btn svg {
  fill: #fff;
}
.dark tbody tr:hover {
  background: #505e6e;
  cursor: pointer;
}
.dark .ticket-table {
  background: #303740;
}
.dark .ticket-table-body tr:nth-child(odd) {
  background: #3a424d;
}
.dark .th-tickets {
  color: #fff;
}
.dark main {
  background: #303740;
  width: 100%;
  padding: 30px;
  margin-left: 255px;
  transition: margin-left 0.4s ease;
  height: 100%;
  position: relative;
  transition: background 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
/* TICKETS PAGES ////////////////////////////////////// */

.th-tickets {
  color: var(--grayscale-black, #252733);
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}
.ticket-table {
  margin-top: -40px;
  border-radius: 8px;
  border: 1px solid var(--grayscale-divider, #dfe0eb);
  background: var(--grayscale-white, #fff);
}

.ticket-table-body .prg-3 {
  text-align: start;
}
.prg-4 {
  color: var(--grayscale-gray-light, #c5c7cd);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1px;
  text-align: start;
  margin-top: 4px;
}
.btn-1 {
  width: 54px;
  height: 24px;
  flex-shrink: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--grayscale-white, #fff);
  text-align: center;
  font-family: Mulish;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 100px;
  background: var(--red-default, #f12b2c);
  cursor: pointer;
}

.ticket-table-body td:nth-child(1) {
  width: 40%;
}
.ticket-table-body td:nth-child(2) {
  width: 20%;
}
.ticket-table-body td:nth-child(3) {
  width: 20%;
}
.ticket-table-body td:nth-child(4) {
  width: 17%;
}
.ticket-table-body td:nth-child(5) {
  width: 3%;
}

.ticket-table-head th:nth-child(1) {
  width: 40%;
}
.ticket-table-head th:nth-child(2) {
  width: 20%;
}
.ticket-table-head th:nth-child(3) {
  width: 20%;
}
.ticket-table-head th:nth-child(4) {
  width: 17%;
}
.ticket-table-head th:nth-child(5) {
  width: 3%;
}
.btn-2 {
  background: rgba(254, 196, 0, 1);
}
.btn-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 24px;
  flex-shrink: 0;
  background: rgba(41, 204, 151, 1);
}
.ticket-table-body tr:nth-child(odd) {
  background: #fff;
}
.ticket-table-body tr {
  transition: all 0.4s liner;
}
.ticket-table-body tr:hover {
  background: #f7f8ff;
}
/* CHAT GPT /////////////////////////// */
table {
  border-collapse: separate; /* Qator/chiziq orasidagi borderlar */
  border-spacing: 0px; /* Qator/chiziq orasidagi masofa */
}

.ticket-table-body tr {
  border: 1px solid #dfe0eb; /* Qator borderi */
}
